/.idea/.gitignore
/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/qlik_replicate_project.iml
/.idea/vcs.xml
