/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/qlik_replicate_project.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.replicate_pages/__pycache__
/browsers/__pycache__
/configurations/__pycache__/config_manager.cpython-311.pyc
/configurations/__pycache__/endpoint_configuration.cpython-311.pyc
/databases/__pycache__/__init__.cpython-311.pyc
/databases/__pycache__/mysql_db.cpython-311.pyc
/databases/__pycache__/oracle_db.cpython-311.pyc
/databases/__pycache__/postgres_db.cpython-311.pyc
/databases/__pycache__/sqlserver_db.cpython-311.pyc
/replicate_pages/__pycache__/__init__.cpython-311.pyc
/replicate_pages/__pycache__/common_functions.cpython-311.pyc
/replicate_pages/__pycache__/designer_page.cpython-311.pyc
/replicate_pages/__pycache__/manage_endpoints_page.cpython-311.pyc
/replicate_pages/__pycache__/monitor_page.cpython-311.pyc
/replicate_pages/__pycache__/new_task_page.cpython-311.pyc
/replicate_pages/__pycache__/table_selection_page.cpython-311.pyc
/replicate_pages/__pycache__/task_settings_page.cpython-311.pyc
/replicate_pages/__pycache__/tasks_view_page.cpython-311.pyc
/tests/mysql_source/__pycache__/tests.cpython-311.pyc
/tests/oracle_source/__pycache__/tests.cpython-311.pyc
/tests/postgres_source/__pycache__/tests.cpython-311.pyc
/tests/sql_source/__pycache__/tests.cpython-311.pyc
